.App {
  .ant-btn {
    padding: 4px 21px;
    border-radius: 2px;
    font-family: Roboto;
    font-size: 12px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 2px 4px -1px rgba(0, 0, 0, 0.20);
  }

  .ant-btn-secondary {
    border-color: var(--color-secondary);
    background-color: var(--color-secondary);
    color: #fff;
  }

  .ant-btn-default.ant-btn-secondary:hover {
    background-color: var(--color-secondary-light);
    border-color: var(--color-secondary-light);
    color: #fff;
  }

  .ant-btn-default.ant-btn-secondary:active {
    background-color: var(--color-secondary-shade);
    border-color: var(--color-secondary-shade);
    color: #fff;
  }

  .ant-btn-natural {
    --color-background: rgba(0, 0, 0, 0.12);
    --color-text: rgba(0, 0, 0, 0.26);
    border-color: var(--color-background);
    background-color: var(--color-background);
    color: var(--color-text);
  }

  .ant-btn-default.ant-btn-natural:hover {
    --color-background: rgba(0, 0, 0, 0.08);
    border-color: var(--color-background);
    background-color: var(--color-background);
    color: var(--color-text);
  }

  .ant-btn-default.ant-btn-natural:active {
    --color-background: rgba(0, 0, 0, 0.2);
    border-color: var(--color-background);
    background-color: var(--color-background);
    color: var(--color-text);
  }
}