.wrap-form--patient-card {
  padding: 16px 50px 128px 32px;
}

.client-age {
  display: inline-block;
  padding: 0 12px;
  width: 117px;
  height: 23px;
  border: 1px solid var(--color-element-border);
  border-radius: var(--border-radius-main);
  color: var(--color-text-secondary-shade);
}