:root {
  --color-blue-dark: #303841;
  --color-secondary: #4CAF50;
  --color-secondary-light: rgba(76, 175, 80, .8);
  --color-secondary-shade: #19721F;

  --color-grey-regular: rgba(131, 131, 131, 0.17);
  --color-grey-lighter: rgba(0, 0, 0, 0.1);
  --color-grey-light: #ECF1F8;
  --color-text-secondary: #808080;
  --color-text-secondary-shade: rgba(0, 0, 0, 0.4);
  --color-text-secondary-dark: #474747;

  --color-site-border: var(--color-blue-dark);
  --color-element-border: rgba(0, 0, 0, 0.23);
  --color-content-background: var(--color-grey-regular);
  --border-radius-main: 3px;
}

body {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}

.section:not(:last-child) {
  margin-bottom: 10px;
}

// divider
.ant-divider-horizontal.ant-divider-with-text {
  margin: 0;
}

.ant-divider .ant-divider-inner-text {
  display: inline-block;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
}

.ant-divider-horizontal.ant-divider-with-text-left::before {
  content: none;
}

.ant-divider-horizontal.ant-divider-with-text-left::after {
  content: none;
}

.mb--36 {
  margin-bottom: 36px;
}

.mb--40 {
  margin-bottom: 40px;
}

.svg {
  width: 15px;
  height: 15px;

  path {
    fill: #fff;
  }
}