.grid {
  display: grid;
  grid-template-columns: 32px auto;
  grid-template-rows: 39px auto;
  grid-template-areas:
    "top-border top-border"
    "navigation content";
}

.ant-col--centered {
  display: flex;
  align-items: center;
}

.ant-row--vertical-centred {
  align-items: center;
}